body {
  padding-top: 30px;
  background-color: #f2f4ff;
}

.fc-view-container {
  background-color: white;
}

ol, #new_task {
  border-style: solid;
  border-width: thin;
  border-color: #8c8c8c;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 15px;
  border-radius: 10px;
  background-color: white;
}

ul {
  padding: 1px;
}

.panel .panel-body {
  height: 100%;
}

.panel-title {
  font-size: 21px;
}

.done {
  border-color: green;
}

.doing {
  border-color: red;
}

.tasks {
  border-color: blue;
}

.delete_button, .edit_task {
  display: none;
  background-color: Transparent;
  border: none;
  outline:none;
  padding: 0;
}

#add_task {
  border-radius: 0;
  width: 100%;
  padding-left: 3px;
  padding-right: 3px;
}

.list label{
  font-size: 18px;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

ol.editing label{
  display: none;
}

ol.list .edit {
  display: none;
}

ol.editing .edit {
  display: block;
  border: none;
  word-wrap: break-word;
}

.fc-state-highlight {
  background-color: #b3daff;
}

.logo {
  display: inline-flex;

}

.navbar {
  background-color: #1265a8;
  padding-left: 36%;
}

.navbar-brand {
  font-size: 21px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.logo {
  height: 35px;
  margin-top: -5px;
}

.panel-body {
  padding-top: 9px;
  padding-bottom: 3px;
}

#add_task {
  margin-bottom: 6px;
}
